[Unit]
Description=Nanotail-portal: tailscale exit node management portal.

[Service]
Type=simple
WorkingDirectory=/srv/nanotail-portal/data
ExecStart=/srv/nanotail-portal/current/nanotail-portal --data-dir /srv/nanotail-portal/data
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
